<h1 style = "color: white">  Welcome to Petshop </h1>

<div class = "col-sm " style="text-align: center" >
    <img src="images.jpeg">
</div>

<%= link_to ' breeds', breeds_path, class:"btn btn-primary" %>